{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

</head>
<body>
    <div class="reset-pass-done">
        <h3>Password reset complete</h3>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Log in</a>
    </div>

</body>
